@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #fff;
}

body{
  background-color: #000;
  overflow-x: hidden;
}

#tasklist::-webkit-scrollbar{
  display: none;
}


.tasknumber {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .tasknumber{
    flex-wrap: wrap;
    width: 100%;
  }
  
}

@media screen and (max-width: 740px) {
  .tasknumber{
    flex-direction: column;
    flex-wrap: nowrap;
    /* width: max-content; */
  }
  .tasknumber div {
    width: 310px;
  }
  
}

@media screen and (max-width: 760px) {
  .employeedash{
    height: 100%;
    /* background-color: #1c1c1c; */
  }
  
}

@media screen and (max-width: 760px) {
  .taskListHeading{
    padding: 6px 10px;
    gap: 10px;
  }
  .taskListHeading h3{
    font-size: 12px;
  }
  .taskListNumber{
    padding: 6px 10px;
    gap: 10px;
  }
  .taskListNumber h2{
    font-size: 12px;
    }
    .taskListMain{
      padding: 14px;
    }
    .admindash{
      padding: 37px;
    }
    .createTask{
      padding: 12px;
    }
    .createTask1 {
      width: 45%;

    }
    .createTask1 h3{
      font-size: 12px;
    }
    .createTask1 input{
      font-size: 12px;
      height: 20px;
    }
    .createTask2{
      width: 35%;
    }
    .createTask2 h3{
      font-size: 12px;
    }
    .createTask2 textarea{
      height: 100px;
    }
    .createTask2 button {
      font-size: 12px;
      padding: 8px 10px;
    }
    .login{
      padding: 45px;
      /* height: 100%; */
    }
    .ems{
      font-size: 20px;
    }
    .logheading{
      font-size: 22px;
      left: 55px;
      /* right: 1px; */
      top: -13px;
    }
    .email{
      padding: 8px 28px;
      font-size: 15px;
    }
    .btn{
      padding-left: 92px;
      padding-right: 92px;
      font-size: 18px;
    }
    .logout{
      font-size: 15px;
      padding: 8px 14px;
    }
    .name{
      font-size: 20px;
    }
    .username{
      font-size: 24px;
    }
    
}
.btn:hover{
  background-color: #065a3f;
}